html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url("https://media.giphy.com/media/TZf4ZyXb0lXXi/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
    color: white;
}
button{
    background-color: lightgray;
    border-radius: 8px;
    font-size: 14px;
    border-style: groove;
}
button:hover{
    background-color: #80e5ff;
    border: none;
}
input, select{
    font-size: 14px;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background: rgba(184, 184, 184, .5);
    padding-top: 40px;
    padding-bottom: 40px;
}
.visible{
    display: none;
}
h1, h3{
    font-family: 'Oswald', sans-serif;
}
#header{
    color: transparent;
    background-image: url("giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    margin-top: 0;
}
li{
    list-style: none;
}

.spinner {
    width: 40px;
    height: 40px;
    /*background-color: #820e57;*/
    background: url(Rebel_symbol-removebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}